In [713]:
import pandas as pd
import os
import numpy as np

# Acceder a la ruta donde se encuentra los archivos
ruta = os.getcwd()

In [714]:
# Leemos el archivo .csv
data = pd.read_excel(ruta+r"\padron_oficial.xlsx", sheet_name="Padrón", skiprows=5)

In [715]:
data.head(3)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Código localidad,Clave única de establecimiento (cue),Clave única de establecimiento - anexo (cueanexo),Nombre,...,Alfabetización,Formación Profesional,Formación Profesional (INET),Secundaria.3,Superior no Universitario.1,Cursos y Talleres,Inicial.2,Primaria.3,Secundaria.4,Servicios complementarios
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,2104001,200001,20000100,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ciudad de Buenos Aires,Estatal,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,2104001,200002,20000200,CARLOS R. VIGNALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,2113,CIUDAD DE BUENOS AIRES,2113001,200003,20000300,INSTITUTO SAN CAYETANO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [716]:
# Vemos la cantidad de registros que tiene el dataset
data.shape

(64043, 47)

In [717]:
# Vemos los nombres de las columnas del dataframe
data.columns

Index(['Jurisdicción', 'Sector', 'Ámbito', 'Departamento',
       'Código de departamento', 'Localidad', 'Código localidad',
       'Clave única de establecimiento (cue)',
       'Clave única de establecimiento - anexo (cueanexo)', 'Nombre',
       'Domicilio', 'Código Postal', 'Código de área telefónico',
       'Número de teléfono', 'Correo elecontrónico', 'Ed. Común',
       'Ed. Especial', 'Ed. Jóvenes y Adultos', 'Ed. Artística',
       'Ed. Hospitalaria Domiciliaria', 'Ed. Intercultural Bilingüe',
       'Ed. Contexto de Encierro', 'Jardín maternal', 'Inicial', 'Primaria',
       'Secundaria', 'Secundaria Técnica (INET)', 'Superior no Universitario',
       'Superior No Universitario (INET)', 'Educación Temprana', 'Inicial.1',
       'Primaria.1', 'Secundaria.1', 'Integración', 'Primaria.2', 'EGB3',
       'Secundaria.2', 'Alfabetización', 'Formación Profesional',
       'Formación Profesional (INET)', 'Secundaria.3',
       'Superior no Universitario.1', 'Cursos y Talleres', 'Inicial.2',
       'Primaria.3', 'Secundaria.4', 'Servicios complementarios'],
      dtype='object')

In [718]:
# Reemplazar los nombres de las columnas utilizando el método set_axis()
data = data.set_axis(['Jurisdicción', 'Sector', 'Ámbito', 'Departamento',
       'Código de departamento', 'Localidad', 'Código localidad',
       'Clave única de establecimiento (cue)',
       'Clave única de establecimiento - anexo (cueanexo)', 'Nombre',
       'Domicilio', 'Código Postal', 'Código de área telefónico',
       'Número de teléfono', 'Correo elecontrónico', 'Ed. Común',
       'Ed. Especial', 'Ed. Jóvenes y Adultos', 'Ed. Artística',
       'Ed. Hospitalaria Domiciliaria', 'Ed. Intercultural Bilingüe',
       'Ed. Contexto de Encierro', 'EC_Jardín maternal', 'EC_Inicial', 'EC_Primaria',
       'EC_Secundaria', 'EC_Secundaria Técnica (INET)', 'EC_Superior no Universitario',
       'EC_Superior No Universitario (INET)', 'EESP_Educación Temprana', 'EESP_Inicial',
       'EESP_Primaria', 'EESP_Secundaria', 'EESP_Integración', 'EJA_Primaria', 'EJA_EGB3',
       'EJA_Secundaria', 'EJA_Alfabetización', 'EJA_Formación Profesional',
       'EJA_Formación Profesional (INET)', 'EA_Secundaria',
       'EA_Superior no Universitario', 'EA_Cursos y Talleres', 'EHD_Inicial',
       'EHD_Primaria', 'EHD_Secundaria', 'Servicios complementarios'], axis=1)
data.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Código localidad,Clave única de establecimiento (cue),Clave única de establecimiento - anexo (cueanexo),Nombre,...,EJA_Alfabetización,EJA_Formación Profesional,EJA_Formación Profesional (INET),EA_Secundaria,EA_Superior no Universitario,EA_Cursos y Talleres,EHD_Inicial,EHD_Primaria,EHD_Secundaria,Servicios complementarios
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,2104001,200001,20000100,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ciudad de Buenos Aires,Estatal,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,2104001,200002,20000200,CARLOS R. VIGNALE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [719]:
# Eliminamos las columnas que no sirven
columnasAEliminar = ['Código localidad',
        'Clave única de establecimiento (cue)', 'Clave única de establecimiento - anexo (cueanexo)',
        'EESP_Educación Temprana', 'EESP_Inicial', 'EESP_Primaria', 'EESP_Secundaria',
        'EESP_Integración', 'EA_Secundaria','EA_Superior no Universitario', 'EA_Cursos y Talleres',
        'EHD_Inicial', 'EHD_Primaria', 'EHD_Secundaria', 'Servicios complementarios']

data = data.drop(columns=columnasAEliminar)
data.shape

(64043, 32)

In [720]:
# Vemos la cantidad de registros que hay por el "Ámbito"
data["Ámbito"].value_counts()

Urbano             46022
Rural              18008
Sin información       13
Name: Ámbito, dtype: int64

In [721]:
# Nos quedamos con un nuevo dataframe que solo tenga los registros de "Urbano"
mascara = data["Ámbito"] == "Urbano"

dataUrbanos = data[mascara]

In [722]:
dataUrbanos.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EC_Secundaria,EC_Secundaria Técnica (INET),EC_Superior no Universitario,EC_Superior No Universitario (INET),EJA_Primaria,EJA_EGB3,EJA_Secundaria,EJA_Alfabetización,EJA_Formación Profesional,EJA_Formación Profesional (INET)
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ciudad de Buenos Aires,Estatal,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,CARLOS R. VIGNALE,WENCESLAO VILLAFAÑE 453 BOCA,C1160,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [723]:
# Creamos la nueva columna para completar con los colegios que Digital ya tiene, o contactó
dataUrbanos["FORMA_PARTE_DE_DH?"] = ""

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\1811176142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbanos["FORMA_PARTE_DE_DH?"] = ""

In [724]:
# Vemos la cantidad de registros que hay según el "Sector"
dataUrbanos["Sector"].value_counts()

Estatal               33863
Privado               11672
Social/cooperativa      487
Name: Sector, dtype: int64

In [725]:
# Verificamos el tipo de datos de las columnas a analizar
dataUrbanos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46022 entries, 0 to 64042
Data columns (total 33 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Jurisdicción                         46022 non-null  object
 1   Sector                               46022 non-null  object
 2   Ámbito                               46022 non-null  object
 3   Departamento                         46022 non-null  object
 4   Código de departamento               46022 non-null  int64
 5   Localidad                            46022 non-null  object
 6   Nombre                               46022 non-null  object
 7   Domicilio                            46022 non-null  object
 8   Código Postal                        44349 non-null  object
 9   Código de área telefónico            43844 non-null  object
 10  Número de teléfono                   44864 non-null  object
 11  Correo elecontrónico                 40437 non-null  object
 12  Ed. Común                            34157 non-null  float64
 13  Ed. Especial                         1810 non-null   float64
 14  Ed. Jóvenes y Adultos                9000 non-null   float64
 15  Ed. Artística                        486 non-null    float64
 16  Ed. Hospitalaria Domiciliaria        270 non-null    float64
 17  Ed. Intercultural Bilingüe           83 non-null     float64
 18  Ed. Contexto de Encierro             238 non-null    float64
 19  EC_Jardín maternal                   2933 non-null   float64
 20  EC_Inicial                           13184 non-null  float64
 21  EC_Primaria                          12640 non-null  float64
 22  EC_Secundaria                        10147 non-null  float64
 23  EC_Secundaria Técnica (INET)         1362 non-null   float64
 24  EC_Superior no Universitario         2621 non-null   float64
 25  EC_Superior No Universitario (INET)  683 non-null    float64
 26  EJA_Primaria                         3835 non-null   float64
 27  EJA_EGB3                             0 non-null      float64
 28  EJA_Secundaria                       2908 non-null   float64
 29  EJA_Alfabetización                   26 non-null     float64
 30  EJA_Formación Profesional            3074 non-null   float64
 31  EJA_Formación Profesional (INET)     1159 non-null   float64
 32  FORMA_PARTE_DE_DH?                   46022 non-null  object
dtypes: float64(20), int64(1), object(12)
memory usage: 11.9+ MB

In [726]:
dataUrbanos.shape

(46022, 33)

In [727]:
# Filtramos el dataset, para quedarnos con los datos de educación común y los que sean jovenes y adultos 
mascaraEC = dataUrbanos["Ed. Común"] == 1
mascaraEJA = dataUrbanos["Ed. Jóvenes y Adultos"] == 1
mascaraEIB = dataUrbanos["Ed. Intercultural Bilingüe"] == 1

dataUrbanosModalidad = dataUrbanos[mascaraEC | mascaraEJA | mascaraEIB]

In [728]:
dataUrbanosModalidad.shape

(42415, 33)

In [729]:
# Eliminamos las columnas que ya no nos sirven
columnasAEliminar = ['Ed. Especial', 'Ed. Artística', 'Ed. Hospitalaria Domiciliaria', 'Ed. Contexto de Encierro']

dataUrbanosModalidad = dataUrbanosModalidad.drop(columns=columnasAEliminar)
dataUrbanosModalidad.shape

(42415, 29)

In [730]:
dataUrbanosModalidad.iloc[:, 15:28].columns

Index(['EC_Jardín maternal', 'EC_Inicial', 'EC_Primaria', 'EC_Secundaria',
       'EC_Secundaria Técnica (INET)', 'EC_Superior no Universitario',
       'EC_Superior No Universitario (INET)', 'EJA_Primaria', 'EJA_EGB3',
       'EJA_Secundaria', 'EJA_Alfabetización', 'EJA_Formación Profesional',
       'EJA_Formación Profesional (INET)'],
      dtype='object')

In [731]:
# Seleccionamos el rango de columnas 13 a 26 (la columna 26 no se incluye)
subset = dataUrbanosModalidad.iloc[:, 15:28]

# Verificamos la condición en las columnas 13 y 14
condicion_col_13_14 = (subset.iloc[:, 0] == 1) | (subset.iloc[:, 1] == 1)

# Verificamos que el resto de columnas sean todas nulas (NaN)
condicion_resto_columnas = subset.iloc[:, 2:].isnull().all(axis=1)

# Combinamos las dos condiciones con un operador lógico AND (&)
condicion_final = condicion_col_13_14 & condicion_resto_columnas

# Filtramos el DataFrame original con la condición final
resultados = dataUrbanosModalidad[~condicion_final]

# Si deseas visualizar los resultados
resultados.shape

(32522, 29)

In [732]:
# Exportamos los datos de un dataset con todos los registros, sin importar el sector
# resultados.to_csv("Dataset Total.csv", encoding="utf-8", index=False)

In [733]:
# Creamos dos dataframe separados, uno de Colegios Privados y Otros de Estatales y Sociales
mascaraPrivado = resultados["Sector"] == "Privado"
mascaraEstatal = resultados["Sector"] != "Privado"

dataUrbPrivados = resultados[mascaraPrivado]
dataUrbEstatales = resultados[mascaraEstatal]

In [734]:
dataUrbPrivados["Jurisdicción"].value_counts()

Buenos Aires              3650
Córdoba                    825
Santa Fe                   729
Ciudad de Buenos Aires     656
Entre Ríos                 367
Mendoza                    346
Tucumán                    304
Chaco                      239
Misiones                   192
Corrientes                 163
Río Negro                  157
San Juan                   152
Salta                      152
Neuquén                    115
Santiago del Estero        111
Chubut                      84
Jujuy                       78
San Luis                    54
Santa Cruz                  48
Formosa                     46
La Pampa                    42
Catamarca                   36
La Rioja                    30
Tierra del Fuego            22
Name: Jurisdicción, dtype: int64

In [735]:
dataUrbEstatales["Jurisdicción"].value_counts()

Buenos Aires              7745
Santa Fe                  2200
Córdoba                   1867
Entre Ríos                1176
Ciudad de Buenos Aires    1146
Chaco                     1135
Misiones                  1131
Mendoza                   1122
Tucumán                    715
Salta                      629
Río Negro                  621
Corrientes                 571
Formosa                    476
San Juan                   437
Santiago del Estero        413
Neuquén                    406
Jujuy                      390
Chubut                     314
La Pampa                   304
La Rioja                   291
San Luis                   247
Catamarca                  238
Santa Cruz                 213
Tierra del Fuego           137
Name: Jurisdicción, dtype: int64

In [736]:
# Contar filas duplicadas
num_duplicates = dataUrbPrivados.duplicated().sum()
num_duplicates2 = dataUrbEstatales.duplicated().sum()

# Imprimir el número de filas duplicadas
print(f"Número de filas duplicadas: {num_duplicates}")
print(f"Número de filas duplicadas: {num_duplicates2}")

Número de filas duplicadas: 1
Número de filas duplicadas: 8

In [737]:
# Vemos la cantidad de datos finales que va a tener cada uno de los dataset
print(dataUrbPrivados.shape)
print(dataUrbEstatales.shape)

(8598, 29)
(23924, 29)

In [738]:
dataUrbPrivados.head()

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EC_Secundaria Técnica (INET),EC_Superior no Universitario,EC_Superior No Universitario (INET),EJA_Primaria,EJA_EGB3,EJA_Secundaria,EJA_Alfabetización,EJA_Formación Profesional,EJA_Formación Profesional (INET),FORMA_PARTE_DE_DH?
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,2104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,2113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,2113,CIUDAD DE BUENOS AIRES,INSTITUTO NUESTRA SEÑORA DEL ROSARIO,CIUDAD DE LA PAZ 1839 BELGRANO,C1428,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,Ciudad de Buenos Aires,Privado,Urbano,Comuna 9,2109,CIUDAD DE BUENOS AIRES,INSTITUTO NTRA SEÑORA DE LUJAN DE LOS PATRIOTAS,AVDA. EMILIO CASTRO 7142 MATADEROS,C1408,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
11,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,2113,CIUDAD DE BUENOS AIRES,ESCUELA DE LA ALDEA,NUÑEZ 2776 NUÑEZ,C1429,011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [739]:
# Leemos el archivo .csv (Latitudes y Longitudes)
dataCoordenadas = pd.read_csv(ruta+r"\localidad_bahra.csv")

In [740]:
dataCoordenadas.head(3)

,gid,geom,cod_pcia,nom_pcia,cod_depto,nom_depto,cod_ase,fna,tipo_asent,cod_aglo,nom_aglo,cod_agl,nom_agl,lat_gd,long_gd,lat_gs,long_gs,fdc
0,2555,MULTIPOINT(-60.3448580643218 -38.8948939829726),6,Buenos Aires,06833,Tres Arroyos,6833070,Reta,Localidad simple,2086.0,Reta,060833,Tres Arroyos,-38.894894,-60.344858,"-38º53'42""","-60º20'41""",INDEC
1,3528,MULTIPOINT(-63.9060666446281 -33.0447614488897),14,Córdoba,14056,Juárez Celman,14056120,Olaeta,Localidad simple,2306.0,Olaeta,140448,Olaeta,-33.044761,-63.906067,"-33º 2'41""","-63º54'22""",INDEC
2,4671,MULTIPOINT(-58.2868656335838 -28.3081359127144),18,Corrientes,18028,Concepción,18028030,Tabay,Localidad simple,2511.0,Tabay,180049,Tabay,-28.308136,-58.286866,"-28º18'29""","-58º17'13""",INDEC

In [741]:
dataCoordenadas.shape

(3528, 18)

In [742]:
valores_unicos = dataUrbPrivados["Código de departamento"].unique()

# Crear un DataFrame a partir del array de valores únicos
df_valores_unicos = pd.DataFrame({'Columna_A': valores_unicos})

# Ver el DataFrame resultante
df_valores_unicos

     Columna_A
0         2104
1         2113
2         2109
3         2102
4         2101
..         ...
393      90091
394      90035
395      90098
396      94007
397      94014

[398 rows x 1 columns]

In [743]:
dataCoordenadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3528 entries, 0 to 3527
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gid         3528 non-null   int64
 1   geom        3528 non-null   object
 2   cod_pcia    3528 non-null   int64
 3   nom_pcia    3528 non-null   object
 4   cod_depto   3528 non-null   object
 5   nom_depto   3528 non-null   object
 6   cod_ase     3528 non-null   int64
 7   fna         3528 non-null   object
 8   tipo_asent  3528 non-null   object
 9   cod_aglo    3527 non-null   float64
 10  nom_aglo    3522 non-null   object
 11  cod_agl     3528 non-null   object
 12  nom_agl     3528 non-null   object
 13  lat_gd      3528 non-null   float64
 14  long_gd     3528 non-null   float64
 15  lat_gs      3528 non-null   object
 16  long_gs     3527 non-null   object
 17  fdc         3528 non-null   object
dtypes: float64(3), int64(3), object(12)
memory usage: 496.2+ KB

In [744]:
df_valores_unicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Columna_A  398 non-null    int64
dtypes: int64(1)
memory usage: 3.2 KB

In [745]:
df_valores_unicos['Columna_A'].value_counts().sort_index()

2101     1
2102     1
2103     1
2104     1
2105     1
        ..
90105    1
90112    1
90119    1
94007    1
94014    1
Name: Columna_A, Length: 398, dtype: int64

In [746]:
# Convierte la columna "Columna_A" a tipo str
df_valores_unicos['Columna_A'] = df_valores_unicos['Columna_A'].astype(str)

# Aplica una función para agregar "0" a los valores con 4 dígitos
df_valores_unicos['Columna_A'] = df_valores_unicos['Columna_A'].apply(lambda x: '0' + x if len(x) == 4 else x)
df_valores_unicos.head()

  Columna_A
0     02104
1     02113
2     02109
3     02102
4     02101

In [747]:
# Combinar los DataFrames en base a las localidades
df_resultado = pd.merge(df_valores_unicos, dataCoordenadas[["cod_depto", "lat_gd", "long_gd"]],
                         left_on='Columna_A', right_on='cod_depto', how="left")

# Ver el DataFrame resultante
df_resultado["Columna_A"]

0       02104
1       02113
2       02109
3       02102
4       02101
        ...
2934    90098
2935    94007
2936    94007
2937    94014
2938    94014
Name: Columna_A, Length: 2939, dtype: object

In [748]:
dataUrbPrivados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8598 entries, 0 to 63996
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Jurisdicción                         8598 non-null   object
 1   Sector                               8598 non-null   object
 2   Ámbito                               8598 non-null   object
 3   Departamento                         8598 non-null   object
 4   Código de departamento               8598 non-null   int64
 5   Localidad                            8598 non-null   object
 6   Nombre                               8598 non-null   object
 7   Domicilio                            8598 non-null   object
 8   Código Postal                        8409 non-null   object
 9   Código de área telefónico            8316 non-null   object
 10  Número de teléfono                   8549 non-null   object
 11  Correo elecontrónico                 8248 non-null   object
 12  Ed. Común                            8128 non-null   float64
 13  Ed. Jóvenes y Adultos                671 non-null    float64
 14  Ed. Intercultural Bilingüe           2 non-null      float64
 15  EC_Jardín maternal                   403 non-null    float64
 16  EC_Inicial                           2087 non-null   float64
 17  EC_Primaria                          3914 non-null   float64
 18  EC_Secundaria                        3813 non-null   float64
 19  EC_Secundaria Técnica (INET)         144 non-null    float64
 20  EC_Superior no Universitario         1199 non-null   float64
 21  EC_Superior No Universitario (INET)  358 non-null    float64
 22  EJA_Primaria                         31 non-null     float64
 23  EJA_EGB3                             0 non-null      float64
 24  EJA_Secundaria                       212 non-null    float64
 25  EJA_Alfabetización                   0 non-null      float64
 26  EJA_Formación Profesional            462 non-null    float64
 27  EJA_Formación Profesional (INET)     108 non-null    float64
 28  FORMA_PARTE_DE_DH?                   8598 non-null   object
dtypes: float64(16), int64(1), object(12)
memory usage: 2.0+ MB

In [749]:
# Convierte la columna "Columna_A" a tipo str
dataUrbPrivados['Código de departamento'] = dataUrbPrivados['Código de departamento'].astype(str)

# Aplica una función para agregar "0" a los valores con 4 dígitos
dataUrbPrivados['Código de departamento'] = dataUrbPrivados['Código de departamento'].apply(lambda x: '0' + x if len(x) == 4 else x)

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\4126868289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['Código de departamento'] = dataUrbPrivados['Código de departamento'].astype(str)
C:\Users\DH\AppData\Local\Temp\ipykernel_3884\4126868289.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['Código de departamento'] = dataUrbPrivados['Código de departamento'].apply(lambda x: '0' + x if len(x) == 4 else x)

In [750]:
dataUrbPrivados["Código de departamento"].info()

<class 'pandas.core.series.Series'>
Int64Index: 8598 entries, 0 to 63996
Series name: Código de departamento
Non-Null Count  Dtype
--------------  -----
8598 non-null   object
dtypes: object(1)
memory usage: 134.3+ KB

In [751]:
dataUrbPrivados.shape

(8598, 29)

In [752]:
# Usar duplicated() para identificar filas duplicadas y sumar los valores True (1)
num_duplicados = df_resultado.duplicated().sum()

print(f'Número de filas duplicadas: {num_duplicados}')

Número de filas duplicadas: 0

In [753]:
# Leemos el archivo .csv (Latitudes y Longitudes)
dataDeptos = pd.read_csv(ruta+r"\comunas (1).csv", sep=";")
dataDeptos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   WKT        15 non-null     object
 1   ID         15 non-null     int64
 2   OBJETO     15 non-null     object
 3   COMUNAS    15 non-null     float64
 4   BARRIOS    15 non-null     object
 5   PERIMETRO  15 non-null     float64
 6   AREA       15 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 968.0+ bytes

In [754]:
dataDeptos["long"] = dataDeptos["WKT"].str.slice(16, 33)
dataDeptos["long"].head()

0    -58.3800038855693
1    -58.4306058283309
2    -58.4883373673246
3    -58.498384839883
4    -58.5033113250844
Name: long, dtype: object

In [755]:
dataDeptos["lat"] = dataDeptos["WKT"].str.slice(33, 51)
dataDeptos["lat"].head()

0     -34.5700235247202
1     -34.6070470885963
2     -34.6201603572932
3    -34.5963676568872,
4     -34.5938561595894
Name: lat, dtype: object

In [756]:
# Eliminar los espacios en blanco al principio y al final de la columna 'Texto'
dataDeptos['lat'] = dataDeptos['lat'].str.replace(' ', '')
dataDeptos['lat'] = dataDeptos['lat'].str.replace(',', '')
dataDeptos['long'] = dataDeptos['long'].str.replace(',', '')
dataDeptos['long'] = dataDeptos['long'].str.replace(' ', '')

In [757]:
dataDeptos["lat"].head()

0    -34.5700235247202
1    -34.6070470885963
2    -34.6201603572932
3    -34.5963676568872
4    -34.5938561595894
Name: lat, dtype: object

In [758]:
dataDeptos = dataDeptos.sort_values(by='COMUNAS', ascending=True)
dataDeptos["COMUNAS"] = dataDeptos["COMUNAS"].astype(int)
dataDeptos["COMUNAS"] = 'Comuna ' + dataDeptos["COMUNAS"].astype(str)
dataDeptos[['COMUNAS', 'lat', 'long']].head()

     COMUNAS                lat               long
14  Comuna 1  -34.5736500693969  -58.3685405568825
0   Comuna 2  -34.5700235247202  -58.3800038855693
11  Comuna 3  -34.5980030767748  -58.4119188098038
8   Comuna 4  -34.6337312154708  -58.3886402930729
9   Comuna 5  -34.6026734568798  -58.4333340897605

In [759]:
dic = {
    "Comuna 1": "02101",
    "Comuna 2": "02102",
    "Comuna 3": "02103",
    "Comuna 4": "02104",
    "Comuna 5": "02105",
    "Comuna 6": "02106",
    "Comuna 7": "02107",
    "Comuna 8": "02108",
    "Comuna 9": "02109",
    "Comuna 10": "02110",
    "Comuna 11": "02111",
    "Comuna 12": "02112",
    "Comuna 13": "02113",
    "Comuna 14": "02114",
    "Comuna 15": "02115"
}

# Mapear la columna "Comuna" usando el diccionario y crear una nueva columna "codigo"
dataDeptos['cod_depto'] = dataDeptos['COMUNAS'].map(dic)
dataDeptos[['COMUNAS', 'cod_depto', 'lat', 'long']]

      COMUNAS cod_depto                lat               long
14   Comuna 1     02101  -34.5736500693969  -58.3685405568825
0    Comuna 2     02102  -34.5700235247202  -58.3800038855693
11   Comuna 3     02103  -34.5980030767748  -58.4119188098038
8    Comuna 4     02104  -34.6337312154708  -58.3886402930729
9    Comuna 5     02105  -34.6026734568798  -58.4333340897605
1    Comuna 6     02106  -34.6070470885963  -58.4306058283309
10   Comuna 7     02107  -34.6568064568917  -58.4604018719539
13   Comuna 8     02108  -34.6568064568917  -58.4604018719539
12   Comuna 9     02109  -34.6745061867358   -58.502521732609
2   Comuna 10     02110  -34.6201603572932  -58.4883373673246
3   Comuna 11     02111  -34.5963676568872   -58.498384839883
4   Comuna 12     02112  -34.5938561595894  -58.5033113250844
7   Comuna 13     02113  -34.5402243475673  -58.4403311131044
5   Comuna 14     02114  -34.5520233734028  -58.4267593172764
6   Comuna 15     02115  -34.5966140637672  -58.4260240564076

In [760]:
df_resultado.columns

Index(['Columna_A', 'cod_depto', 'lat_gd', 'long_gd'], dtype='object')

In [761]:
# Crea un diccionario de mapeo usando el DataFrame df_coordenadas
mapeo_latitud = dataDeptos.set_index('cod_depto')['lat'].to_dict()
mapeo_longitud = dataDeptos.set_index('cod_depto')['long'].to_dict()

# # Agrega las columnas 'Latitud' y 'Longitud' al DataFrame df_departamentos
# df_resultado['lat_gd'] = df_resultado['Columna_A'].map(mapeo_latitud)
# df_resultado['long_gd'] = df_resultado['Columna_A'].map(mapeo_longitud)
# df_resultado['cod_depto'] = df_resultado['Columna_A'].map(mapeo_codigo)

# Aplica el mapeo solo a los valores NaN en las columnas 'lat_gd' y 'long_gd'
df_resultado['lat_gd'].fillna(df_resultado['Columna_A'].map(mapeo_latitud), inplace=True)
df_resultado['long_gd'].fillna(df_resultado['Columna_A'].map(mapeo_longitud), inplace=True)

df_resultado['cod_depto'].fillna(df_resultado['Columna_A'], inplace=True)
# Ver el DataFrame resultante
df_resultado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2939 entries, 0 to 2938
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Columna_A  2939 non-null   object
 1   cod_depto  2939 non-null   object
 2   lat_gd     2939 non-null   object
 3   long_gd    2939 non-null   object
dtypes: object(4)
memory usage: 114.8+ KB

In [762]:
df_resultado.head()

  Columna_A cod_depto             lat_gd            long_gd
0     02104     02104  -34.6337312154708  -58.3886402930729
1     02113     02113  -34.5402243475673  -58.4403311131044
2     02109     02109  -34.6745061867358   -58.502521732609
3     02102     02102  -34.5700235247202  -58.3800038855693
4     02101     02101  -34.5736500693969  -58.3685405568825

In [763]:
# Crea un diccionario de mapeo usando el DataFrame df_coordenadas
mapeo_latitud = df_resultado.set_index('cod_depto')['lat_gd'].to_dict()
mapeo_longitud = df_resultado.set_index('cod_depto')['long_gd'].to_dict()

# Agrega las columnas 'Latitud' y 'Longitud' al DataFrame df_departamentos
dataUrbPrivados['Latitud'] = dataUrbPrivados['Código de departamento'].map(mapeo_latitud)
dataUrbPrivados['Longitud'] = dataUrbPrivados['Código de departamento'].map(mapeo_longitud)

# Ver el DataFrame resultante
dataUrbPrivados.shape

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\2736264318.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['Latitud'] = dataUrbPrivados['Código de departamento'].map(mapeo_latitud)
C:\Users\DH\AppData\Local\Temp\ipykernel_3884\2736264318.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['Longitud'] = dataUrbPrivados['Código de departamento'].map(mapeo_longitud)

(8598, 31)

In [764]:
dataUrbPrivados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8598 entries, 0 to 63996
Data columns (total 31 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Jurisdicción                         8598 non-null   object
 1   Sector                               8598 non-null   object
 2   Ámbito                               8598 non-null   object
 3   Departamento                         8598 non-null   object
 4   Código de departamento               8598 non-null   object
 5   Localidad                            8598 non-null   object
 6   Nombre                               8598 non-null   object
 7   Domicilio                            8598 non-null   object
 8   Código Postal                        8409 non-null   object
 9   Código de área telefónico            8316 non-null   object
 10  Número de teléfono                   8549 non-null   object
 11  Correo elecontrónico                 8248 non-null   object
 12  Ed. Común                            8128 non-null   float64
 13  Ed. Jóvenes y Adultos                671 non-null    float64
 14  Ed. Intercultural Bilingüe           2 non-null      float64
 15  EC_Jardín maternal                   403 non-null    float64
 16  EC_Inicial                           2087 non-null   float64
 17  EC_Primaria                          3914 non-null   float64
 18  EC_Secundaria                        3813 non-null   float64
 19  EC_Secundaria Técnica (INET)         144 non-null    float64
 20  EC_Superior no Universitario         1199 non-null   float64
 21  EC_Superior No Universitario (INET)  358 non-null    float64
 22  EJA_Primaria                         31 non-null     float64
 23  EJA_EGB3                             0 non-null      float64
 24  EJA_Secundaria                       212 non-null    float64
 25  EJA_Alfabetización                   0 non-null      float64
 26  EJA_Formación Profesional            462 non-null    float64
 27  EJA_Formación Profesional (INET)     108 non-null    float64
 28  FORMA_PARTE_DE_DH?                   8598 non-null   object
 29  Latitud                              8598 non-null   object
 30  Longitud                             8598 non-null   object
dtypes: float64(16), object(15)
memory usage: 2.1+ MB

In [766]:
import pandas as pd
from geopy.distance import geodesic

# Supongamos que tienes las coordenadas objetivo
coordenadas_objetivo = (-34.54858014458487, -58.4439146767146)  # Reemplaza lat_objetivo y long_objetivo con tus coordenadas objetivo
# coordenadas_objetivo = (-58.4439146767146, -34.54858014458487)  # Reemplaza lat_objetivo y long_objetivo con tus coordenadas objetivo

# Supongamos que tienes un DataFrame dataUrbPrivados con columnas 'Latitud' y 'Longitud'
# Agrega una nueva columna 'Distancia_KM' que contendrá la distancia en kilómetros a las coordenadas objetivo
dataUrbPrivados['Distancia_KM'] = dataUrbPrivados.apply(lambda row: geodesic((row['Latitud'], row['Longitud']), coordenadas_objetivo).kilometers, axis=1)

# Ver el DataFrame resultante con la columna 'Distancia_KM' agregada
dataUrbPrivados.head()

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\3059367724.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['Distancia_KM'] = dataUrbPrivados.apply(lambda row: geodesic((row['Latitud'], row['Longitud']), coordenadas_objetivo).kilometers, axis=1)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EJA_Primaria,EJA_EGB3,EJA_Secundaria,EJA_Alfabetización,EJA_Formación Profesional,EJA_Formación Profesional (INET),FORMA_PARTE_DE_DH?,Latitud,Longitud,Distancia_KM
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,02104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,NaN,NaN,NaN,NaN,NaN,NaN,,-34.6337312154708,-58.3886402930729,10.721099
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,...,NaN,NaN,NaN,NaN,NaN,NaN,,-34.5402243475673,-58.4403311131044,0.983563
3,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO NUESTRA SEÑORA DEL ROSARIO,CIUDAD DE LA PAZ 1839 BELGRANO,C1428,011,...,NaN,NaN,NaN,NaN,NaN,NaN,,-34.5402243475673,-58.4403311131044,0.983563
4,Ciudad de Buenos Aires,Privado,Urbano,Comuna 9,02109,CIUDAD DE BUENOS AIRES,INSTITUTO NTRA SEÑORA DE LUJAN DE LOS PATRIOTAS,AVDA. EMILIO CASTRO 7142 MATADEROS,C1408,011,...,NaN,NaN,NaN,NaN,NaN,NaN,,-34.6745061867358,-58.502521732609,14.967908
11,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,ESCUELA DE LA ALDEA,NUÑEZ 2776 NUÑEZ,C1429,011,...,NaN,NaN,NaN,NaN,NaN,NaN,,-34.5402243475673,-58.4403311131044,0.983563

In [767]:
from geopy.distance import geodesic

# Coordenadas del punto A (latitud y longitud)
coordenadas_a = (-58.4439146767146, -34.54858014458487)  # Latitud y longitud de Buenos Aires, Argentina

# Coordenadas del punto B (latitud y longitud)
# coordenadas_b = (-31.554101, -63.535697)  # Latitud y longitud de Lima, Perú
coordenadas_b = (-63.535697, -31.554101)  # Latitud y longitud de Lima, Perú

# Calcular la distancia geodésica entre los puntos A y B en kilómetros
distancia_km = geodesic(coordenadas_a, coordenadas_b).kilometers

# Imprimir la distancia
print(f"La distancia entre los puntos A y B es de {distancia_km:.2f} kilómetros")

La distancia entre los puntos A y B es de 589.90 kilómetros

In [768]:
# Ver el DataFrame resultante con la columna 'Distancia_KM' agregada
dataUrbPrivados.iloc[5000]

Jurisdicción                                                                     Córdoba
Sector                                                                           Privado
Ámbito                                                                            Urbano
Departamento                                                                 RIO SEGUNDO
Código de departamento                                                             14119
Localidad                                                              VILLA DEL ROSARIO
Nombre                                 ESCUELA SUPERIOR DE ENFERMERIA CRUZ ROJA ARGEN...
Domicilio                                        9 DE JULIO 536 CENTRO VILLA DEL ROSARIO
Código Postal                                                                      X5963
Código de área telefónico                                                          03573
Número de teléfono                                                                424802
Correo elecontrónico                   vd-rosario@cruzroja.org.ar; iscravdr530@gmail....
Ed. Común                                                                            1.0
Ed. Jóvenes y Adultos                                                                NaN
Ed. Intercultural Bilingüe                                                           NaN
EC_Jardín maternal                                                                   NaN
EC_Inicial                                                                           NaN
EC_Primaria                                                                          NaN
EC_Secundaria                                                                        NaN
EC_Secundaria Técnica (INET)                                                         NaN
EC_Superior no Universitario                                                         1.0
EC_Superior No Universitario (INET)                                                  1.0
EJA_Primaria                                                                         NaN
EJA_EGB3                                                                             NaN
EJA_Secundaria                                                                       NaN
EJA_Alfabetización                                                                   NaN
EJA_Formación Profesional                                                            NaN
EJA_Formación Profesional (INET)                                                     NaN
FORMA_PARTE_DE_DH?
Latitud                                                                       -31.554101
Longitud                                                                      -63.535697
Distancia_KM                                                                  579.910755
Name: 28040, dtype: object

In [769]:
# Crear la columna "TipoEducacion" basada en las condiciones
def get_tipo_educacion(row):
    if row['Ed. Común'] == 1.0:
        return 'Educación Común'
    elif row['Ed. Jóvenes y Adultos'] == 1.0:
        return 'Educacion Jovenes Y Adultos'
    elif row['Ed. Intercultural Bilingüe'] == 1.0:
        return 'Bilingue'
    else:
        return 'Desconocido'

In [770]:
dataUrbPrivados['TipoEducacion'] = dataUrbPrivados.apply(get_tipo_educacion, axis=1)
dataUrbPrivados["TipoEducacion"].value_counts()

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\2977678745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataUrbPrivados['TipoEducacion'] = dataUrbPrivados.apply(get_tipo_educacion, axis=1)

Educación Común                8128
Educacion Jovenes Y Adultos     470
Name: TipoEducacion, dtype: int64

In [771]:
# Eliminamos las columnas que no sirven
columnasAEliminar = ['Ed. Común', 'Ed. Jóvenes y Adultos',
       'Ed. Intercultural Bilingüe', 'EC_Superior no Universitario', 'EC_Superior No Universitario (INET)', 'EJA_EGB3', 'EJA_Alfabetización',
       'EJA_Formación Profesional', 'EJA_Formación Profesional (INET)']

dataUrbPrivados = dataUrbPrivados.drop(columns=columnasAEliminar)
dataUrbPrivados.shape

(8598, 24)

In [772]:
dataUrbPrivados.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EC_Primaria,EC_Secundaria,EC_Secundaria Técnica (INET),EJA_Primaria,EJA_Secundaria,FORMA_PARTE_DE_DH?,Latitud,Longitud,Distancia_KM,TipoEducacion
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,02104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,1.0,1.0,NaN,NaN,NaN,,-34.6337312154708,-58.3886402930729,10.721099,Educación Común
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,...,1.0,NaN,NaN,NaN,NaN,,-34.5402243475673,-58.4403311131044,0.983563,Educación Común

In [773]:
# Reemplazar los valores en la columna EC_Primaria
dataUrbPrivados['EC_Primaria'] = dataUrbPrivados['EC_Primaria'].apply(lambda x: 'Primaria' if x == 1.0 else '')
dataUrbPrivados['EC_Jardín maternal'] = dataUrbPrivados['EC_Jardín maternal'].apply(lambda x: 'Maternal' if x == 1.0 else '')
dataUrbPrivados['EC_Inicial'] = dataUrbPrivados['EC_Inicial'].apply(lambda x: 'Inicial' if x == 1.0 else '')
dataUrbPrivados['EC_Secundaria'] = dataUrbPrivados['EC_Secundaria'].apply(lambda x: 'Secundaria' if x == 1.0 else '')
dataUrbPrivados['EC_Secundaria Técnica (INET)'] = dataUrbPrivados['EC_Secundaria Técnica (INET)'].apply(lambda x: 'Secundaria Técnica' if x == 1.0 else '')
dataUrbPrivados['EJA_Primaria'] = dataUrbPrivados['EJA_Primaria'].apply(lambda x: 'JyA Primaria' if x == 1.0 else '')
dataUrbPrivados['EJA_Secundaria'] = dataUrbPrivados['EJA_Secundaria'].apply(lambda x: 'JyA Secundaria' if x == 1.0 else '')

In [774]:
dataUrbPrivados.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EC_Primaria,EC_Secundaria,EC_Secundaria Técnica (INET),EJA_Primaria,EJA_Secundaria,FORMA_PARTE_DE_DH?,Latitud,Longitud,Distancia_KM,TipoEducacion
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,02104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,Primaria,Secundaria,,,,,-34.6337312154708,-58.3886402930729,10.721099,Educación Común
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,...,Primaria,,,,,,-34.5402243475673,-58.4403311131044,0.983563,Educación Común

In [775]:
def get_nivel_escolar(row):
    values = row[['EC_Jardín maternal', 'EC_Inicial', 'EC_Primaria', 'EC_Secundaria', 'EC_Secundaria Técnica (INET)', 'EJA_Primaria', 'EJA_Secundaria']].values
    non_empty_values = [value for value in values if value != ""]  # Filtra las celdas no vacías
    return ', '.join(non_empty_values)

dataUrbPrivados['Nivel Escolar'] = dataUrbPrivados.apply(get_nivel_escolar, axis=1)

In [776]:
dataUrbPrivados.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,...,EC_Secundaria,EC_Secundaria Técnica (INET),EJA_Primaria,EJA_Secundaria,FORMA_PARTE_DE_DH?,Latitud,Longitud,Distancia_KM,TipoEducacion,Nivel Escolar
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,02104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,...,Secundaria,,,,,-34.6337312154708,-58.3886402930729,10.721099,Educación Común,"Maternal, Inicial, Primaria, Secundaria"
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,...,,,,,,-34.5402243475673,-58.4403311131044,0.983563,Educación Común,"Maternal, Inicial, Primaria"

In [777]:
# Eliminamos las columnas que no sirven
columnasAEliminar = ['EC_Jardín maternal', 'EC_Inicial', 'EC_Primaria', 'EC_Secundaria',
 'EC_Secundaria Técnica (INET)', 'EJA_Primaria', 'EJA_Secundaria']

dataUrbPrivados = dataUrbPrivados.drop(columns=columnasAEliminar)
dataUrbPrivados.head(2)

,Jurisdicción,Sector,Ámbito,Departamento,Código de departamento,Localidad,Nombre,Domicilio,Código Postal,Código de área telefónico,Número de teléfono,Correo elecontrónico,FORMA_PARTE_DE_DH?,Latitud,Longitud,Distancia_KM,TipoEducacion,Nivel Escolar
0,Ciudad de Buenos Aires,Privado,Urbano,Comuna 4,02104,CIUDAD DE BUENOS AIRES,INSTITUTO PRIVADO ESCUELA EVANGELICA WILLIAM C...,SUÁREZ 684 BOCA,C1162,011,4301-2922/4301-1606,NIVELMEDIOWILLIAMCMORRIS@HOTMAIL.COM / WILLI...,,-34.6337312154708,-58.3886402930729,10.721099,Educación Común,"Maternal, Inicial, Primaria, Secundaria"
2,Ciudad de Buenos Aires,Privado,Urbano,Comuna 13,02113,CIUDAD DE BUENOS AIRES,INSTITUTO SAN CAYETANO,VIDAL 1743 BELGRANO,C1426,011,4783-0889 INT119,SANCAYETANOPRIMARIA@GMAIL.COM,,-34.5402243475673,-58.4403311131044,0.983563,Educación Común,"Maternal, Inicial, Primaria"

In [778]:
dataUrbPrivados["Distancia_KM"] = dataUrbPrivados["Distancia_KM"].round(1)
dataUrbPrivados["Distancia_KM"] = dataUrbPrivados["Distancia_KM"].astype(str)

In [779]:
dataFinal = dataUrbPrivados.copy()

In [780]:
# Creamos las nuevas columnas
dataFinal["Etapa"] = ""
dataFinal["Status"] = ""
dataFinal["Comunicación Con"] = ""
dataFinal["Aclaraciones"] = ""
dataFinal["Próximo Paso"] = ""
dataFinal["Otro Email"] = ""
dataFinal["Otro Telefono"] = ""

In [781]:
# Usar el método loc para asignar "Etapa 1" a la columna "Etapa" en las filas donde "Localidad" contiene "CIUDAD DE BUENOS AIRES"
dataFinal.loc[dataFinal['Jurisdicción'] == 'Ciudad de Buenos Aires', 'Etapa'] = 'Etapa 1'

In [782]:
dataFinal['Etapa'].value_counts()

           7942
Etapa 1     656
Name: Etapa, dtype: int64

In [783]:
dataFinal = dataFinal.reset_index(drop=True)
# dataFinal.drop(["index"], axis=1, inplace=True)

# Generar la columna "ID_REGISTRO" con el formato deseado
dataFinal['ID_REGISTRO'] = dataFinal.index + 1  # Para el número de registro
dataFinal['ID_REGISTRO'] = dataFinal['ID_REGISTRO'].apply(lambda x: f"REGISTRO_{x:05d}")  # Formatear como "REGISTRO_00001"

# Mover la columna "ID_REGISTRO" al primer lugar
id_registro = dataFinal.pop('ID_REGISTRO')
dataFinal.insert(0, 'ID_REGISTRO', id_registro)

In [784]:
dataFinal.columns

Index(['ID_REGISTRO', 'Jurisdicción', 'Sector', 'Ámbito', 'Departamento',
       'Código de departamento', 'Localidad', 'Nombre', 'Domicilio',
       'Código Postal', 'Código de área telefónico', 'Número de teléfono',
       'Correo elecontrónico', 'FORMA_PARTE_DE_DH?', 'Latitud', 'Longitud',
       'Distancia_KM', 'TipoEducacion', 'Nivel Escolar', 'Etapa', 'Status',
       'Comunicación Con', 'Aclaraciones', 'Próximo Paso', 'Otro Email',
       'Otro Telefono'],
      dtype='object')

In [785]:
# Reemplazar los nombres de las columnas utilizando el método set_axis()
dataFinal = dataFinal.set_axis(['ID_REGISTRO', 'JURISDICCIÓN', 'SECTOR', 'ÁMBITO', 'DEPARTAMENTO',
       'CÓDIGO_DEPARTAMENTO', 'LOCALIDAD', 'NOMBRE', 'DOMICILIO',
       'CÓDIGO_POSTAL', 'CÓDIGO_TELEFONO', 'NÚMERO_TELEFONO',
       'EMAILS', 'FORMA_PARTE_DE_DH?', 'LATITUD', 'LONGITUD',
       'DISTANCIA_KM', 'TIPO_EDUCACIÓN', 'NIVEL_ESCOLAR', 'ETAPA', 'ESTADO',
       'COMUNICACIÓN_CON', 'ACLARACIONES', 'PRÓXIMO_PASO', 'EMAIL_ALTERNATIVO',
       'TELEFONO_ALTERNATIVO'], axis=1)

In [786]:
dataFinal.shape

(8598, 26)

In [787]:
dataFinal[['LATITUD', 'LONGITUD', 'DISTANCIA_KM']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8598 entries, 0 to 8597
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LATITUD       8598 non-null   object
 1   LONGITUD      8598 non-null   object
 2   DISTANCIA_KM  8598 non-null   object
dtypes: object(3)
memory usage: 201.6+ KB

In [788]:
# Reemplazar el punto por la coma en las columnas
dataFinal['LATITUD'] = dataFinal['LATITUD'].astype(str).str.replace('.', ',')
dataFinal['LONGITUD'] = dataFinal['LONGITUD'].astype(str).str.replace('.', ',')
dataFinal['DISTANCIA_KM'] = dataFinal['DISTANCIA_KM'].astype(str).str.replace('.', ',')

C:\Users\DH\AppData\Local\Temp\ipykernel_3884\1154113124.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataFinal['LATITUD'] = dataFinal['LATITUD'].astype(str).str.replace('.', ',')
C:\Users\DH\AppData\Local\Temp\ipykernel_3884\1154113124.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataFinal['LONGITUD'] = dataFinal['LONGITUD'].astype(str).str.replace('.', ',')
C:\Users\DH\AppData\Local\Temp\ipykernel_3884\1154113124.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataFinal['DISTANCIA_KM'] = dataFinal['DISTANCIA_KM'].astype(str).str.replace('.', ',')

In [789]:
dataFinal[['LONGITUD', 'LATITUD', 'DISTANCIA_KM']]

               LONGITUD            LATITUD DISTANCIA_KM
0     -58,3886402930729  -34,6337312154708         10,7
1     -58,4403311131044  -34,5402243475673          1,0
2     -58,4403311131044  -34,5402243475673          1,0
3      -58,502521732609  -34,6745061867358         15,0
4     -58,4403311131044  -34,5402243475673          1,0
...                 ...                ...          ...
8593         -67,195172         -54,511439       2320,6
8594         -67,762905         -54,640783       2347,3
8595         -67,762905         -54,640783       2347,3
8596         -67,195172         -54,511439       2320,6
8597         -67,195172         -54,511439       2320,6

[8598 rows x 3 columns]

In [790]:
dataFinal["DISTANCIA_KM"].value_counts()

638,9     351
264,0     328
17,9      258
51,3      252
23,5      180
         ...
824,7       1
1290,3      1
858,7       1
809,7       1
641,8       1
Name: DISTANCIA_KM, Length: 387, dtype: int64

In [791]:
# Exportamos los datos finales
dataFinal.to_csv("Dataset Colegios Privados con Coordenadas FINAL.csv", encoding="utf-8", index=False)